*{
margin: 0;
    padding: 0;
    
}


body{
width: 100%;
background-color: #6C7A89;
color: #F2F1EF;
}


h1{
    font-size: 50px;
    text-align: center;
    font-family: serif;
}

p{
    font-size: 10px;
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN';
    margin-bottom: 1px;
}

p1{
    
    text-align: center;
   
    margin-bottom: 10px;
}

.container{
    text-align: center;
    width: 100%;
    margin: 10px;
}

nav{
    overflow: hidden;
    background: #F2F1EF;
    margin-bottom: 30px;

}

nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    list-style-type: none;

}

nav a{
    text-decoration: none;
    border: none;
    color: #6C7A89;
    border-radius: 0;
    padding: 8px;
    transition: 0.5s;
}

nav a:hover{
    background: #6C7A89;
    color: #F2F1EF;
}