*{
margin: 0;
    padding: 0;
    
}

body{
width: 100%;
background-color: #6C7A89;

}

#wrap{
    width: 500px;
    margin: auto;
}


.container{
    text-align: center;
    width: 90%;
    margin: 30px;
}


}


#key-block img{
    float: left;
    margin-right: 10px;
}

#key-block h1{
    text-align: center;
    font-size: 18px;
    width: 450px;
    margin-bottom: 30px;
    color: aliceblue;

}

#key-block p{
    text-align: center;
    font-size: 12px;
    width: 450px;
    margin-bottom: 5px;
    color: aliceblue;

}

nav{
    overflow: hidden;
    background: #F2F1EF;
    margin-bottom: 30px;

}

nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    list-style-type: none;

}

nav a{
    text-decoration: none;
    border: none;
    color: #6C7A89;
    border-radius: 0;
    padding: 8px;
    transition: 0.5s;
}

nav a:hover{
    background: #6C7A89;
    color: #F2F1EF;
}

#chame{
    text-align: center;
    text-decoration: none;
    border: none;
    list-style-type: none;
}

#eye{
    text-align: center;
    list-style-type: none;

}