*{
margin: 0;
    padding: 0;
    
}

body{
width: 100%;
background-color: #6C7A89;
font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',
  sans-serif;
}

#wrap{
    width: 600px;
    margin: auto;
    text-align: center;
}


.container{
    text-align: center;
    width: 100%;
    margin: 20px;
}


#key-block img{
    
    margin-right: 10px;
}


#key-block h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 11px;
    color: aliceblue;
    font-family: 'Helvetica Neue UltraLight;
}


#key-block h5{
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    color: aliceblue;

}

#key-block p{
    text-align: center;
    font-size: 10px;
    margin-bottom: 5px;
    color: aliceblue;

}

nav{
    overflow: hidden;
    background: #F2F1EF;
    margin-bottom: 30px;

}

nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    list-style-type: none;

}

nav a{
    text-decoration: none;
    border: none;
    color: #6C7A89;
    border-radius: 0;
    padding: 8px;
    transition: 0.5s;
}

nav a:hover{
    background: #6C7A89;
    color: #F2F1EF;
}

#box1{
    width: 260px;
    margin: auto;
    text-align: center;

}

#chame{
    float: left;
    text-decoration: none;
    border: none;
    list-style-type: none;
    margin-right: 30px
}

#eye{
    float: left;
    list-style-type: none;
    margin-left: 30px; 

}